.prisboks {
  padding: 20px;
  background-color: var(--tertiary);
  opacity: 80%;
  box-shadow: 0px 10px 12px #878787;
}

.prisboks a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--quinary);
}

.prisboks a:hover {
  color: var(--primary);
}

.bookkontakt {
  padding: 15px 0 40px;
}

.bookkontakt a {
  padding: 12px;
  font-size: 1.5rem;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
}

@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    margin-bottom: 45px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }

  .prisboks {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .prisboks h2,
  .prisboks h3 {
    padding-bottom: 15px;
  }

  ul {
    padding-left: 15px;
  }
}

@media (max-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    gap: 50px;
    margin-bottom: 50px;
  }

  .grid_1-1 {
    display: grid;
    gap: 50px;
  }

  .prisboks {
    padding: 1.5rem;
  }

  ul {
    padding-left: 20px;
  }

  h2,
  h3,
  ul,
  p {
    margin-bottom: 15px;
  }
}
