.prisboks {
  padding: 20px;
  color: var(--tertiary);
  opacity: 80%;
  box-shadow: 0px 10px 12px #878787;
}

.prisboks a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f56f10;
}

@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    margin-bottom: 30px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }

  .prisboks {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .prisboks h2,
  .prisboks h3 {
    padding-bottom: 15px;
  }

  ul {
    padding-left: 15px;
  }
}

@media (max-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    gap: 20px;
  }

  .grid_1-1 {
    display: grid;
    gap: 20px;
  }
}
